@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --cor1: #222831;
    --cor2: #00ADB5;
    --cor3: #EEEEEE;
    --cor-hover: #393E46;

    --fonte: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, var(--cor1), var(--cor2));
    box-sizing: border-box;
}

.cabecalho {
    font-family: var(--fonte);
    padding: 1% 2%;
    color: var(--cor3);
}

.apresentacao {
    padding: 1% 10%;
}

.apresentacao__conteudo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 42px;
}

.apresentacao__conteudo__div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.apresentacao__conteudo__div__input {
    resize: none;
    font-family: var(--fonte);
    font-size: 1rem;
    border: 1px;
    border-radius: 4px;
    padding: 10px;
    height: 30.5rem;
    width: 45.5rem;  
    background-color: var(--cor2);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--cor3);
}

.apresentacao__conteudo__div__retorno {
    font-family: var(--fonte);
    font-size: 1rem;
    border: 1px ;
    border-radius: 4px;
    padding: 10px;
    height: 30.5rem;
    width: 13.5rem;
    resize: none;
    background-color: var(--cor2);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--cor3);
    overflow: auto;
}

.apresentacao__conteudo__div__botoes {
    display: flex;
    gap: 12px;
}

.apresentacao__conteudo__div__botao {
    font-family: var(--fonte);
    border: 2px solid;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: transparent;
    color: var(--cor3);
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apresentacao__conteudo__div__botao:hover {
    background-color: var(--cor-hover)
}

.rodape {
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor3);
    padding: 20px;
    margin-top: 5%;
    gap: 5px;
}

.rodape__icons {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--fonte);
    padding: 8px;
    border-radius: 3px;
    color: var(--cor3);
    background-color: var(--cor1);
    transition: background-color 0.3s ease;
}

.rodape__icons:hover {
    background-color: var(--cor-hover)
}